.legal-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.legal-title {
  color: #333;
}

.legal-paragraph {
  color: #666;
  line-height: 1.6;
}

.legal-section-title {
  margin-top: 20px;
}

.legal-email {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.legal-email:hover {
  color: #0056b3;
}
