.top-arrow {
  background-color: #d9d9d9;
  padding: 5px;
  border-radius: 50px;
  position: fixed; /* en sticky se positionne mal sinon */
  bottom: 30px; /* Distance par rapport au bas de la page */
  right: 30px; /* Distance par rapport au bord droit de la page */
  width: 35px; /* taille de la flèche */
  height: 35px;
}
