.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #2E2E2E ;
    color: white;
    padding : 1rem;
}

.footer-logo{
    width: 3rem;
}

.linkFooter{
    color: white;
    text-decoration:none;
}

.linkFooter:hover{
    text-decoration: underline ;
}

@media screen and (max-width:920px){
    .footer{
        display:flex;
        flex-direction: column;
        
    }

    .linkFooter{
        font-size: 1rem; /* n'a pas l'air d'être pris en compte. objectif : réduire la taille de police pour les écrans plus petits */
    }
}