.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
    color: #fff;
}

.header__logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 926px) {
    .header__logo h1{
        display: none;
    }
}
.logo{
    border-radius: 50%;
    margin-right: 1rem;
}

.header__searchBar{
    background-color: #fff;
    width: 32rem;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    position: relative;
}

.header__searchBar input{
    width: 80%;
    font-size: larger;
    border: none;
}

.header__searchBar input[type=text]:focus{
    border:hidden;
    outline: none;
}

.header__searchBar button{
    position: absolute;
    font-size: larger;
    right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

.header__profil-a{
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.header__profil img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 0;
}

.header__profil p{
    margin: 0;
}

