.sidebar__content{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.sidebar__content nav h1{
    text-align: center;
}

.sidebar__content nav ul{
    list-style-type: none;
}

.sidebar__content li{
    width: 100%;
}

.sidebar__content li a:visited{
    color: #000;
}

.sidebar__content li a{
    text-decoration: none;
}

.sidebar__content button{
    font-size: 1rem;
    width: 100%;
    text-align: left;
}

.sidebar__content button:hover,
.sidebar__content li:hover{
    background-color: #ffcc00;
    color: #fff;
    border-radius: 5px;
}