.movie-card {
  position: relative;
  width: 100%;
  transition: transform 0.2s;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  margin: 2rem 0;
  height: 400px; /* Ajout de la propriété height à 100% */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  transition: filter 0.3s;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  );
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 15px;
}

.movie-card:hover .overlay {
  opacity: 1;
}

.movie-card:hover .title-movie-card {
  opacity: 1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  text-align: center;
  margin: 0;
  z-index: 2;
  transition: opacity 0.3s;
  font-size: 1rem;
}

.movie__duration{
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: #fff;
}

.interactive-logos {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.2s;
}

.movie-card:hover .interactive-logos {
  opacity: 1;
  pointer-events: auto;
}

.interactive-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
  transition: background-color 0.2s;
  padding: 7px;
}

.interactive-logo:hover {
  background-color: #ffcc00;
}

.interactive-logo.jaune {
  background-color: #ffcc00;
}

.interactive-logo.jaune:hover {
  background-color: #ac8a01;
}

/* Media queries */
@media (max-width: 1200px) {
  .movie-card:hover .title-movie-card {
    top: 60%;
  }
}

@media (max-width: 926px) {
  .movie-card:hover .title-movie-card {
    top: 60%;
  }
}

@media (max-width: 768px) {
  .movie-card:hover .title-movie-card {
    top: 60%;
  }
}

@media (max-width: 480px) {
  .movie-card:hover .title-movie-card {
    top: 80%;
  }
}
