.account-titles-container {
  text-align: center;
  margin-bottom: 50px;
}

.account-content-main-logos-top {
  display: flex;
  justify-content: space-between;
}

.account-content-main {
  overflow-y: auto; /* Permet le défilement vertical */
  padding: 20px;
}

.account-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header "
    "account-content-wrapper"
    "footer";
}

.account-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "account-content-sidebar" "account-content-main";
}

.account-sidebar-container {
  position: sticky;
  top: 0;
  height: 100vh; /* Hauteur de la vue, pour remplir l'écran verticalement */
}

.account-individual-list-container {
  margin-bottom: 30px;
}

.account-last-to-title {
  text-align: left;
  margin-left: 5px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.account-last-to-title-p {
  margin-left: 5px;
}
