.see-more-card {
  width: 100%;
  height: 70%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.see-more-card:hover {
  transform: scale(1.1);
}

.see-more-card .image-container {
  color: black;
  background-color: #f2f2f2;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.2em;
}

.see-more-card-circle {
  background-color: orange;
  border-radius: 50%;
  width: 80px; /* Ajustez la taille du cercle selon vos besoins */
  height: 80px; /* Ajustez la taille du cercle selon vos besoins */
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.see-more-card-text {
  position: absolute;
  top:60%; /* Ajustez la position verticale selon vos besoins */
  left: 50%; /* Ajustez la position horizontale selon vos besoins */
  transform: translateX(-50%);
  width: 100%;
  font-size: 1rem;
}
