.detail-movie-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header "
    "detail-movie-content"
    "footer";
}

.detail-movie-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "detail-movie-info"
    "detail-movie-down";
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.detail-movie-content-background{
  background-color: #F2F2F2;
  height: 28%;
}

.detail-movie-down {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "detail-movie-sidebar detail-movie-content-text";
}