.presentation-movie-image {
  max-height: 500px;
  max-width: 100%;
}

.presentation-text-movie-info{
    margin-left: 20px;
}

.presentation-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr
}

.presentation-text-duration-and-year{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.presentation-movie-tag-container{
  display: flex;
  gap: 20px;
}

.presentation-movie-credits{
  margin-top: 5%;
}