.policy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.policy-title {
  color: #333;
}

.policy-paragraph {
  color: #666;
  line-height: 1.6;
}

.policy-section-title {
  margin-top: 20px;
}

.policy-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.policy-list-item {
  margin-bottom: 8px;
}

.policy-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.policy-link:hover {
  color: #0056b3;
}
